@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700&display=swap');

@import 'partials/auth';
@import 'partials/form';
@import 'partials/btn';


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @apply font-display font-normal text-blue-900;
  overflow-y: scroll;
}

.container {
  @apply px-6 mx-auto;
  min-height: inherit !important;
  max-width: 1280px !important;
  // @screen md {
  //   @apply px-2;
  // }
}

.container-pc {
  min-height: inherit !important;
  max-width: 1280px !important;
  @screen md {
    @apply px-6 mx-auto;
  }
}

.page {
  @apply px-4 mx-auto;
  max-width: 1280px;
  @screen lg {
    @apply px-2;
  }
}

a, button, .btn, :focus, :active {
  transition: all 0.3s;
  outline: none;
}

a.disabled {
  cursor: not-allowed;
  opacity: 0.75;
  text-decoration: none;
}

a:not(.btn):hover {
  transition: opacity 0.3s;
  opacity: 0.75;
}

button:focus {
  outline: none;
}

:not(.form-item).disabled,
button:disabled {
  opacity: 0.6;
}

.link {
  @apply text-grey-600;
  transition: color 0.3s;
  &:hover {
    @apply text-blue-900;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bg-gradient {
  background: linear-gradient(to bottom, #008abd, #005380);
}

/*
 * Pulse animation for loading elements
 */
.pulse {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}


/*
 * Page transition
 */
.page-enter-active, .page-leave-active {
  transition: opacity .12s
}
.page-enter, .page-leave-active {
  opacity: 0
}

/* Slide transition */
.slide-enter-active {
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.slide-leave-active {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
  max-height: 999px;
  overflow: hidden;
}

.slide-enter, .slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

/* Fade Down transition */
.fade-down-enter-active {
  transition-duration: 0.15s;
  transition-timing-function: out-in;
}

.fade-down-leave-active {
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.fade-down-enter-to, .fade-down-leave {
  opacity: 1;
  margin-top: 0;
}

.fade-down-enter, .fade-down-leave-to {
  opacity: 0;
  margin-top: -0.5rem;
}

/* Fade transition */
.fade-enter-active {
  transition-duration: 0.15s;
  transition-timing-function: ease-in;
}

.fade-leave-active {
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.fade-enter-to, .fade-leave {
  opacity: 1
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/*
 * Validation
 */
.error__message {
  @apply text-pink-800 text-xs block mt-1;
}

header.collapsed {
  #header-main-menu {
    display: none;
    @screen md {
      display: block;
    }
  }
}

